<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <title>STEVES</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        header {
            background-color: #040a63;
            color: #fff;
            padding: 10px;
            text-align: center;
        }

        section {
            margin: 20px 0;
        }

        footer {
            background-color: #040a63;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>

    <header>
        <h1>STEVES</h1>
    </header>
    
    <button type="button" id="product" style="background-color: #040a63;border: none; color: white;">PRODUCTS</button>
    <button type="button" id="customer" style="background-color: #040a63;border: none; color: white;">CUSTOMERS</button>
    <button type="button" id="order" style="background-color: #040a63;border: none; color: white;">ORDERS</button>
    <button type="button" id="supplier"style="background-color: #040a63;border: none; color: white;" >SUPPLIERS</button>
    <button type="button" id="invoice" style="background-color: #040a63;border: none; color: white;">INVOICES</button>
    <button type="button" id="qualitycontrol" style="background-color: #040a63;border: none; color: white;">QUALITY CONTROL FORMS</button>
    <button type="button" id="shipping" style="background-color: #040a63;border: none; color: white;">SHIPPING</button>
    <button type="button" id="employee" style="background-color: #040a63;border: none; color: white;">EMPLOYEES</button>

    <div id="target"></div>
    

     <h2>Add New Product</h2>

    <form id="productform" method="post">
        <!-- Product Name -->
        <label for="productName">Product Name:</label>
        <input type="text" id="productname" name="productName" required>
        <br>

        <!-- Product Price -->
        <label for="productPrice">Product Price:</label>
        <input type="number" id="price" name="productPrice" step="0.01" required>
        <br>

        <!-- Product Description -->
        <label for="productDescription">Product Description:</label>
        <textarea id="description" name="productDescription" required></textarea>
        <br>

         <!-- Product Material -->
        <label for="productMAterial">Product Material:</label>
        <input type="text" id="material" name="productMaterial" required>
        <br>

        <!-- Product Color -->
        <label for="productColor">Product Color:</label>
        <input type="text" id="color" name="productColor" required>
        <br>

        <!-- Product Stock Quantity -->
        <label for="productStockQuantity">Product Stock Quantity:</label>
        <input type="number" id="stockquantity" name="productStockQuantity" required>
        <br>

         <!-- Product Size -->
        <label for="productSize">Product Size:</label>
        <textarea id="size" name="productSize" required></textarea>
        <br>

        <!-- Submit Button -->
        <button type="submit" style="background-color: #040a63;border: none; color: white;">Add Product</button>
    </form>

    <footer>
        <p>&copy; 2023 STEVES</p>
    </footer>

    <script>
        // Define the address of the API server 
        // The IP address is the current hostname of the raspberry pi 
        // The PORT is the curent PORT the dotnet web API is listening for requests
        // Subject to change depoending on the network the raspberrypi is connected to 
        // Use commant hostname -I in terminal to determine current IP address of pi <3
        // Change in appsettings.json as well
        // cry
        const piAddress = "http://192.168.1.90:5041"

        // Function to fetch and display product data from the API
        async function product() 
        {
            // Send a GET request to the product API endpoint
            const response = await fetch( piAddress + "/api/product" );
            // Extract JSON data from the response
            const data = await response.json();
            // Log retrieved data to the console
            console.log(data);
            // Call a function to create a table based on the product data
            createTable(data.products);
        }

        async function customer() 
        {
            const response = await fetch( piAddress + "/api/customer" );
            const data = await response.json();
            console.log(data);
            createTable(data.customers);
        }
        
        async function order()
        {
            const response = await fetch( piAddress + "/api/order" );
            const data = await response.json();
            console.log(data);
            createTable(data.orders);
        }

        async function supplier()
        {
            const response = await fetch( piAddress + "/api/supplier" );
            const data = await response.json();
            console.log(data);
            createTable(data.suppliers);
        }

        async function invoice()
        {
            const response = await fetch( piAddress + "/api/invoice" );
            const data = await response.json();
            console.log(data);
            createTable(data.invoices);
        }

        async function qualitycontrol()
        {
            const response = await fetch( piAddress + "/api/qualitycontrol" );
            const data = await response.json();
            console.log(data);
            createTable(data.qualitycontrol);
        }

        async function shipping()
        {
            const response = await fetch( piAddress + "/api/shipping" );
            const data = await response.json();
            console.log(data);
            createTable(data.shipping);
        }

        async function employee()
        {
            const response = await fetch( piAddress + "/api/employee" );
            const data = await response.json();
            console.log(data);
            createTable(data.employees);
        }

        function createTable(dataArray) 
        {
            // Empty table for new data
            $("#target").empty();
            // Create the table header
            var table = $('<table>').addClass('my-table');
            var headerRow = $('<tr>');
            Object.keys(dataArray[0]).forEach(function (key) {
                headerRow.append($('<th>').text(key));
            });
            table.append(headerRow);

            // Create the table rows
            dataArray.forEach(function (row) {
                var tableRow = $('<tr>');
                Object.values(row).forEach(function (value) {
                    tableRow.append($('<td>').text(value));
                });
                table.append(tableRow);
            });
            // Insert newly created table into a DIV with an id of target
            $("#target").append(table);

        }

        $(document).ready(function() {
            // Add event listeners to buttons so that they run a request function on click
            $("#product").on("click", product);
            $("#customer").on("click", customer);
            $("#order").on("click", order);
            $("#supplier").on("click", supplier);
            $("#invoice").on("click", invoice);
            $("#qualitycontrol").on("click", qualitycontrol);
            $("#shipping").on("click", shipping);
            $("#employee").on("click", employee);

            // Add an event listener to the form submit button
            $("#productform").submit( async function(event){
                // Prevent default form submit behavior
                event.preventDefault();
                // Create form data object and populate with form input values
                var formData = { 
                    productname : $("#productname").val(),
                    description : $("#description").val(),
                    material : $("#material").val(),
                    size : $("#size").val(),
                    color : $("#color").val(),
                    price : $("#price").val(),
                    stockquantity : $("#stockquantity").val()
                }

                // Make a POST request to web API wiith the form data in the request body
                const response = await fetch ( piAddress + "/api/product", {
                    method : "POST", 
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify(formData)
                })
                
                // Console log how many rows were affected IF successful 
                const data = await response.json();
                console.log(data);
            })
        });
    </script>
</body>
</html>